Repository gioudi/landing-page-google, pull requests merged in 2022-12, with the labels that each got.

#4 feat-i18n
  .env
  package-lock.json
  package.json
  src/components/Nav.vue
  src/locales/en.json
  src/locales/es.json
  src/main.js
  src/router/main.js
  src/vue-i18n-config.js
  vue.config.js
Labels: documentation, wontfix

#5 Update README.md
  README.md
Labels: documentation

#6 Update README.md
  README.md
Labels: documentation

#8 feat-eslint
  .eslintrc.js
  package-lock.json
  package.json
  src/App.vue
  src/components/TheNav.vue
  src/main.js
  src/router/main.js
  src/views/Home.vue
  src/vue-i18n-config.js
  stylelint.config.js
  vue.config.js
Labels: wontfix

#9 fix-stylelint
  .github/workflows/pages.yml
  package-lock.json
  package.json
  src/App.vue
  src/assets/scss/app/_footer.scss
  src/assets/scss/app/_main.scss
  src/assets/scss/app/_nav.scss
  src/assets/scss/global/_global.scss
  src/assets/scss/global/_grid.scss
  src/assets/scss/global/_variables.scss
  src/assets/scss/mixin/_mixin.scss
  src/assets/scss/style.scss
  src/views/Home.vue
  stylelint.config.js
Labels: wontfix

#11 fix-sidebar
  package-lock.json
  package.json
  src/App.vue
  src/components/CustomNav.vue
  src/components/CustomSidebar.vue
  src/main.js
  src/scss/_mixin.scss
  src/scss/_variables.scss
  src/scss/app/_light.scss
  src/state/main.js
Labels: wontfix

#12 fix-nav
  package-lock.json
  src/components/CustomNav.vue
  src/components/CustomTab.vue
  src/locales/en.json
  src/locales/es.json
  src/scss/_variables.scss
  src/scss/app/_light.scss
  src/state/main.js
Labels: enhancement, wontfix

#13 feat-footer
  src/App.vue
  src/assets/img/logo- unknown.svg
  src/assets/logo-google.svg
  src/components/CustomFooter.vue
  src/locales/en.json
  src/locales/es.json
  src/scss/_variables.scss
  src/scss/app/_light.scss
  src/views/Home.vue
Labels: enhancement, wontfix

#14 feat-landing-page
  src/assets/img/googlelogo.png
  src/assets/logo-google.svg
  src/components/CustomFooter.vue
  src/scss/app/_light.scss
  src/views/Home.vue
Labels: enhancement, wontfix

#15 feat-landing-page
  src/assets/img/app.svg
  src/assets/img/apps-icon.png
  src/assets/img/apps-icon.svg
  src/assets/img/logo-unknown.svg
  src/assets/img/microphone.svg
  src/components/CustomNav.vue
  src/components/CustomSearch.vue
  src/locales/en.json
  src/locales/es.json
  src/scss/_variables.scss
  src/scss/app/_light.scss
  src/views/Home.vue
Labels: wontfix

#16 fix-responsive-component
  src/components/CustomFooter.vue
  src/components/CustomNav.vue
  src/components/CustomSearch.vue
  src/locales/en.json
  src/locales/es.json
  src/scss/_mixin.scss
  src/scss/app/_light.scss
Labels: bug, good first issue, wontfix

#17 fix-responsive-component
  src/assets/img/apps-icon.png
  src/assets/img/apps-icon.svg
  src/components/CustomNav.vue
  src/locales/en.json
  src/locales/es.json
  src/scss/_mixin.scss
  src/scss/_variables.scss
  src/scss/app/_light.scss
  src/views/Home.vue
Labels: wontfix

#18 Create LICENSE.md
  LICENSE.md
Labels: documentation

#19 Fix workflow
  .github/labeler.yml
  .github/release-drafter.yml
  .github/workflows/lint-and-test.yml
  .github/workflows/release-draft.yml
  dist/css/app.be8a1bf9.css
  dist/favicon.ico
  dist/img/app.366653d4.svg
  dist/img/apps-icon.b5f30821.svg
  dist/img/googlelogo.80fa4bca.png
  dist/img/microphone.aa48d7d3.svg
  dist/index.html
  dist/js/app.5c03c819.js
  dist/js/app.5c03c819.js.map
  dist/js/chunk-vendors.aede9391.js
  dist/js/chunk-vendors.aede9391.js.map
  vue.config.js
Labels: documentation, wontfix

#20 fix-header
  src/assets/img/apps-icon.svg
  src/assets/img/blogger-icon.png
  src/assets/img/google-48.png
  src/assets/img/google-account-48.png
  src/assets/img/google-ads-48.png
  src/assets/img/google-arts-and-culture-48.png
  src/assets/img/google-assistant-48.png
  src/assets/img/google-books-48.png
  src/assets/img/google-calendar-48.png
  src/assets/img/google-chat-48.png
  src/assets/img/google-classroom-48.png
  src/assets/img/google-collections-48.png
  src/assets/img/google-contacts-48.png
  src/assets/img/google-docs-48.png
  src/assets/img/google-drive-48.png
  src/assets/img/google-duo-48.png
  src/assets/img/google-earth-48.png
  src/assets/img/google-forms-48.png
  src/assets/img/google-gmail-48.png
  src/assets/img/google-jamboard-48.png
  src/assets/img/google-keep-48.png
  src/assets/img/google-maps-48.png
  src/assets/img/google-meet-48.png
  src/assets/img/google-news-48.png
  src/assets/img/google-one-48.png
  src/assets/img/google-photos-48.png
  src/assets/img/google-play-48.png
  src/assets/img/google-podcasts-48.png
  src/assets/img/google-sheets-48.png
  src/assets/img/google-shopping-48.png
  src/assets/img/google-sites-48.png
  src/assets/img/google-slides-48.png
  src/assets/img/google-streetview-48.png
  src/assets/img/google-tag-manager-48.png
  src/assets/img/google-translate-48.png
  src/assets/img/google-trips-48.png
  src/assets/img/google-wallet-48.png
  src/assets/img/google-youtube-48.png
  src/assets/img/hangout-logo-48.png
  src/components/CustomNav.vue
  src/locales/en.json
  src/locales/es.json
  src/scss/_mixin.scss
  src/scss/_variables.scss
  src/scss/app/_light.scss
  vue.config.js
Labels: documentation, wontfix
